[submodule "CMake/common"]
	path = CMake/common
	url = https://github.com/Eyescale/CMake.git

[submodule "MeshReconstruct"]
	path = MeshReconstruct
	url = https://github.com/vg-lab/MeshReconstruct.git
