[submodule "CMake/common"]
	path = CMake/common
	url = https://github.com/Eyescale/CMake.git
[submodule "MeshReconstruct"]
	path = MeshReconstruct
	url = git@gitlab.vglab.es:cbbsp1/MeshReconstruct.git
	branch = Python3
